
    <div class="container">
        <div class="row">

            {{#each uploads as | upload |}}
            <!-- trigger isUser Helper to check if owner is current user -->
            {{#isUser upload}}
                <div class="col-md-4">
                    <div class="thumbnail">

                        <!-- pic display -->
                        <div class="pic-display">
                          {{#fileType upload}} {{/fileType}}
                          <div class='info-overlay clearfix'>
                                <b>{{upload.title}}</b> by: {{upload._owner.email}} </br>
                                created: {{#formatDate upload.updatedAt}}{{/formatDate}}
                          </div>
                        </div>
                        <div class='upload-actions'
                          <!-- pic delete button -->
                          <!-- <div class="upload-action pic-del-button"> -->
                            <button data-id="{{upload.id}}" class="delete-upload btn btn-danger">Delete</button>
                          <!-- </div> -->

                          <!-- pic update button -->
                          <!-- <div class="upload-action pic-upload-button"> -->
                            <button class="update-form-button btn btn-success">Update Title</button>
                            <br>
                            <form data-id="{{upload.id}}" class="update-form hidden">
                              <fieldset>
                                <input maxlength="20" type="text" name="upload[title]" placeholder="Enter new title here">
                                <br>
                                <button class="update-upload btn btn-warning" type="submit">Submit</button>
                              </fieldset>
                            </form>
                          <!-- </div> -->
                        </div>


                        <!-- pic title -->

                    </div>
                </div>
            {{/isUser}}
            {{/each}}


        </div>
      </div>
