
    <div class="container">
        <div class="row">

            {{#each uploads as | upload |}}
            <!-- trigger isUser Helper to check if owner is current user -->
            {{#isUser upload}}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <!-- pic display -->
                        <div class="pic-display">
                              {{#fileType upload}} {{/fileType}}
                        </div>
                        <!-- pic delete button -->
                        <div class="pic-del-button">
                              <button data-id="{{upload.id}}" class="delete-upload">Delete</button>
                        </div>

                        <!-- pic update button -->
                        <div class="-pic-upload-button">
                            <button class="update-form-button">Update this upload</button>
                      <form class="update-form hidden">
                        <fieldset>
                          <label>
                            New Title
                            <input type="text" name="image[title]">
                        </label>
                          <button data-id="{{upload.id}}" class="update-upload" type="submit" name="submit">Update</button>
                        </fieldset>
                      </form>
                        </div>
                        <!-- pic title -->
                        <div class="pic-title clearfix">
                              {{upload.title}} by: {{upload._owner.email}}
                        </div>

                        <!-- pic upload date -->
                        <div class="pic-date clearfix">
                              <!-- trigger custom helper to formate date -->
                              created: {{#formatDate upload.updatedAt}}{{/formatDate}}
                        </div>
                    </div>
                </div>
            {{/isUser}}
            {{/each}}


        </div>
      </div>
