
    <div class="container">
        <div class="row">

            {{#each uploads as | upload |}}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <!-- pic display -->
                        <div class="pic-display">
                              {{#fileType upload}} {{/fileType}}
                              <div class='info-overlay'>
                                <p><span><b>{{upload.title}}</b></span> by: {{upload._owner.email}} </br>
                                <b><a target="_blank" href="{{upload.url}}">View File</a></b>
                                </p>
                              </div>
                        </div>
                    </div>
                </div>
            {{/each}}

          </div>


        </div>
      </div>
