$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    height: 75px;
    width: 1000px;
    background: #00EEFF;
}

#navigation {
    float: left;
    height: 40px;
    width: 1000px;
    background: #FFCC33;
}

section {
    float: left;
    background: #FFFFFF;
    width: 700px;
    padding-top: 100px;
}

#leftcolumn {
    background: #FF0000;
    width: 300px;
    float: left;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #33FF66;
    clear: both;
}
