$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$darkgray: #333;
$gray: #d3d3d3;
$white: #fff;
$reds: #ff0000;
$green: #33ff66;


.navbar-right {
  margin-right: 1px;
  padding-right: 10px;
}

body {
  color: $darkgray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

#footer {
  background: $green;
  clear: both;
  height: 40px;
  text-align: center;
}

#main {
  background: $reds;
  float: left;
  height: 80%;
  width: 100%;
}

#message {
  color: $reds;
  float: right;
  font-size: 15px;
  font-weight: 20px;
}

.photo-grid {
  float: left;
  padding-top: 100px;
}

p {
  padding: 10px;
}

.parent-display {
  float: left;
}

// picture in indexAll buttons
.picz {
  display: block;
  height: 150px;
  margin: auto;
}

.pic-date {
  text-align: center;
}

.pic-display {
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
}


.pic-title {
  text-align: center;
}


section {
  background: $white;
  float: left;
  padding-top: 200px;
  width: 100%;
}

.showzAll {
  float: left;
}

.thumbnail {
  border: 3px solid $gray;
  padding: 3px;
  width: 300px;
}

.update-upload {
  float: left;
}

.upload {
  height: 100px;
  width: 100%;
}

.upload-form {
  padding-left:  100px;
}

.uploadhere {
  display: inline-block;
  padding-left: 200px;
  padding-top: 18px;
}
