$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$red: #333;
$gray: #d3d3d3;

.navbar-right {
  margin-right: 1px;
  padding-right: 10px;
}

body {
  color: $red;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

p {
  padding: 10px;
}

.parent-display {
  float: left;
}

// picture in indexAll buttons
.picz {
  display: block;
  height: 150px;
  margin: auto;
}

.pic-date {
  text-align: center;
}

.pic-display {
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
}


.pic-title {
  text-align: center;
}

.thumbnail {
  border: 3px solid $gray;
  padding: 3px;
  width: 300px;
}

.update-upload {
  float: left;
}

.upload {
  height: 100px;
  width: 100%;
}

.modal-fade-auth {
}

.upload-form {
  padding-left:  100px;
}

section {
    float: left;
    background: #FFFFFF;
    width: 100%;
    padding-top: 200px;
}

.showzAll {
  float: left;
}

.uploadhere {
  padding-left: 200px;
  padding-top: 18px;
  display: inline-block;

}

.photo-grid {
  float: left;
  padding-top: 100px;
}

#message {
  float: right;
}

#main {
    background: #FF0000;
    height: 80%;
    width: 100%;
    float: left;
}

#footer {
    height: 40px;
    background: #33FF66;
    clear: both;
}
